<div class="advanced-settings js-advanced-settings hidden">

  <label for="js-include-feet">Show feet</label>
  <input type="checkbox" name="feet" id='js-include-feet'>
  <br>
  <label for="js-include-hands">Show hands</label>
  <input type="checkbox" name="hands" id='js-include-hands'>
  <div class="hat-selection">
    <% ['party', 'top', 'santa', 'bow', 'spin'].each do |hat| %>
      <%= image_tag "hats/#{hat}.png", id: "#{hat}-hat", data: {hat: hat} %>
    <% end %>
  </div>

  <label for="snail-trail">Snail trail</label>
  <input type="range" min='0' max='9' id='snail-trail' name='snail' step='1' value='0'>

  <label for="head-count">Head count</label>
  <input type="range" name="head-count" id='head-count' min='1' max='50'>
  <span class='head-count-value'></span>

  <form class="background-color-area">
    <div class='background-upload-button upload-button'>Background Image</div>
    <span class='remove-background js-remove-background hidden'>X</span>
  </form>

  <br>
  <button class='big-submit js-submit-form'>Go</button>
</div>
