<div class="footer clearfix">
  <div class="social">
    <img src="/images/facebook.png" alt="facebook" class='js-facebook-share'>
    <img src="/images/twitter.png" alt="twitter" class='js-twitter-share'>
  </div>
</div>
