<div class="footer clearfix">
  <div class="social">
    <img src="/images/facebook.png" alt="facebook" class='js-facebook-share'>
    <a target="_blank" class='js-twitter-share-anchor'>
      <img src="/images/twitter.png" alt="twitter" class='js-twitter-share'>
    </a>
  </div>
</div>
