<div class="header">
  <div class="header-content">
    <div class='header-left'><a href="/">Friendheads</a></div>
    <div class='header-right js-control-buttons'>
      <span class='space-bar-area'><img src="/images/space.png" alt="space-bar" class='js-space-button space-bar'></span>
      <img src="/images/minus.png" alt="-" class='js-minus-button plus-or-minus'>
      <img src="/images/plus.png" alt="+" class='js-plus-button plus-or-minus'>
      <img src="/images/question.png" alt="?" class='js-question-button plus-or-minus'>
      <img src="/images/left.png" alt="left" class='js-left-button left-or-right arrow'>
      <div class="up-and-down">
        <img src="/images/up.png" alt="up" class='js-up-button arrow'>
        <img src="/images/down.png" alt="down" class='js-down-button arrow'>
      </div>
      <img src="/images/right.png" alt="right" class='js-right-button left-or-right arrow'>
    </div>
  </div>
</div>
