<div class="img-preview-container-container hidden pull-left">
  <div class="img-preview-container">
    <img id='temp-img'>
    <button id='crop-circle'>cricle</button>
    <button id='crop-square'>square</button>
    <button id='crop-none'>No crop</button>
  </div>
</div>
