<div id='index-page'>
  <img id='background' class='hidden'>
  <%= render partial: 'main' %>
  <canvas id="resize-canvas" class='hidden'></canvas>

  <div class="big-loading hidden">
    <%= image_tag 'load.gif' %>
  </div>
</div>

<% content_for :head do %>
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image" content="http://friendheads.herokuapp.com/images/og_image.png">
<% end %>
