<% content_for :head do %>
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

  <% og_image_url = "https://friendheads.herokuapp.com/head_image/#{params[:id] || params[:sample_id]}" %>
  <% og_image_url += (params[:sample_id] ? '/?sample=true' : '') %>

  <meta property="og:image" content="<%= og_image_url %>">
<% end %>

<div id='show-page'>
  <%= render partial: 'main' %>
</div>
