<!DOCTYPE html>
<html>
  <head>
    <title>Embed example</title>
    <script src="/js/embed.js"></script>
    <script>document.addEventListener("DOMContentLoaded",function(){(new Friendheads('<%= @head.external_id %>')).add();});</script>
  </head>
  <body>
    <br><br>
    <center>
      blah blah lorem ipsum so great blah blah so minimal blah checkout this friendhead
    </center>
  </body>
</html>
