<div class="embed-page center">


  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <h1>Embedding friendheads</h1>

  <h3>Simple config</h3>

  <div class="big-info">
    To add a friendhead automatically to your page, just add these script tags:
  </div>

  <pre><code class='html'><%= @easy_setup %></code></pre>

  <div class="small-info">
    <% unless @external_id %>
    (replace '<%= @head.external_id %>' with your head's id)
    <% end %>
  </div>

  <a href="/samples/embed.html">View demo</a>

  <br><br>

  <h3>Advanced config</h3>


  <div class="big-info">
    Just add the single script tag
  </div>

  <pre><code class='html'><%= @master_setup %></code></pre>

  <div class="big-info">
    Then add and remove your heads later with js
  </div>

  <pre><code class='javascript'><%= @advanced_js %></code></pre>

  <a href="/samples/embed2.html">View demo</a>


</div>
