<div class="embed-page center">


  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <h3>Embedding friendheads</h3>

  <div class="big-info">
    To add a friendhead automatically to your page, just add these script tags:
  </div>

  <pre><code class='html'><%= @easy_setup %></code></pre>

  <div class="small-info">
    <% unless @external_id %>
    (replace '<%= @head.external_id %>' with your head's id)
    <% end %>
  </div>

  <br><br>

  <div class="big-info">
    Or if you would like to trigger the head on your own, add the tags without the listener:
  </div>

  <pre><code class='html'><%= @master_setup %></code></pre>

  <div class="big-info">
    Then simply add your head with
  </div>

  <pre><code class='javascript'><%= @add_head_js %></code></pre>

  <div class="big-info">

  </div>

</div>
