.embed-info {
  background: rgb(59,246,135);

  pre {
    margin: 5px;

    code {
      text-align: left;
      font-size: 12px;
      width: 400px;
      margin: 0 auto;
      padding: 10px 10px 20px 0px;
    }
  }


  .info {
    font-size: 12px;
  }
}
