.footer {
  position: fixed;
  bottom: 0px;
  height: 40px;
  width: 100%;
  padding: 15px;
  pointer-events: none;

  .social {
    pointer-events: auto;
    width: 100px;
    padding: 0;
    float: right;
    height: 100%;
    margin: 5px 15px;
  }

  img {
    opacity: .8;
    height: 40px;
    margin: 0;
  }

  img:hover {
    cursor: pointer;
    opacity: 1;
    height: 44px;
    margin: -2px;
  }

  .embed {
    pointer-events: auto;
    padding: 0;
    float: left;
    height: 100%;
    margin: 5px 15px;

    img {
      // border: 1px solid white;
      border-radius: 3px;
      box-shadow: 0 0 10px rgb(0,255,183);

      &:hover {
        border: none;
      }
    }
  }
}
