<!DOCTYPE html>
<html>
  <head>
    <title>Friendheads</title>
    <%= csrf_meta_tags %>


    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
